﻿@model A1Patients.Models.Medication

@{
    ViewData["Title"] =  " Add a Medication for " + ViewBag.MedType.Name;
}

<h1>Create</h1>

<h4>Medication</h4>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Din" class="control-label"></label>
                <input asp-for="Din" class="form-control"/>
                <span asp-validation-for="Din" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="MedicationTypeId" class="control-label"></label>
                <select hidden asp-for="MedicationTypeId" class ="form-control" asp-items="ViewBag.MedicationTypeId">                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DispensingCode" class="control-label"></label>
                <select asp-for="DispensingCode" class ="form-control" asp-items="ViewBag.DispensingCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="Concentration" class="control-label"></label>
                <input asp-for="Concentration" class="form-control" />
                <span asp-validation-for="Concentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcentrationCode" class="control-label"></label>
                <select asp-for="ConcentrationCode" class ="form-control" asp-items="ViewBag.ConcentrationCode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
