﻿@model A1Patients.Models.Medication

@{
    ViewData["Title"] = "Details of Medication for " + ViewBag.MedType.Name;
}

<h1>Details</h1>

<div>
    <h4>Medication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Din)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Din)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcentrationCodeNavigation.ConcentrationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispensingCodeNavigation.DispensingCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicationType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Din">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
