﻿@model IEnumerable<A1Patients.Models.Medication>

@{
    ViewData["Title"] =  "List all Medication for " + ViewBag.Type.Name;
}


@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        <a asp-action="Index" asp-controller="FSMedicationTypes"><strong>Erro! - </strong>@ViewData.ModelState["Error"].Errors.First().ErrorMessage </a>
    </div>
}
else
{     
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.Type.MedicationTypeId">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Din)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concentration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicationType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Din)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concentration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcentrationCodeNavigation.ConcentrationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispensingCodeNavigation.DispensingCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Din">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Din">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Din">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

