﻿@model IEnumerable<A1Patients.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>@TempData["Message"]</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Patient Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName),  
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>

            <td>
                @{ if (item.Deceased == true)
                    {
                        @Html.DisplayFor(modelItem => item.DateOfDeath);

                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>

            <td>
                <a class="btn btn-info" asp-controller="FSPatientDiagnosis" asp-route-PatientId="@item.PatientId"> Diagnosis </a> |

                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
