﻿@model A1Patients.Models.PatientDiagnosis
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PatientDiagnosis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="PatientId" value="@Context.Session.GetString("patientId")" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisId" class="control-label"></label>
                <select asp-for="DiagnosisId" class="form-control" asp-items="ViewBag.DiagnosisId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
