﻿@model IEnumerable<A1Patients.Models.PatientDiagnosis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis.Name)
            </td>
            <td>
                @item.Patient.LastName, @item.Patient.FirstName
            </td>
            <td>
                <a class="btn btn-info" asp-controller="FSPatientTreatments" asp-route-patientDiagnosisId="@item.PatientDiagnosisId" asp-route-patientFullName="@item.Patient.LastName, @item.Patient.FirstName" asp-route-patientDiagnosis="@item.Diagnosis.Name"> Treatments </a>
                <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
