﻿@model A1Patients.Models.Province

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Province</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTaxCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTaxCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludesFederalTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludesFederalTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPostalLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstPostalLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCodeNavigation.CountryCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProvinceCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
