﻿@model IEnumerable<A1Patients.Models.Province>

@{
    ViewData["Title"] = "List of All Provinces";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesTaxCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludesFederalTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPostalLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesTaxCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesFederalTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPostalLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCodeNavigation.CountryCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProvinceCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProvinceCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProvinceCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
