﻿@model A1Patients.Models.PatientTreatment
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Delete Treatments for " +
        Context.Session.GetString("PatientDiagnosis") + ", Patient: " +
        Context.Session.GetString("patientFullName");
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientTreatment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePrescribed.ToLongTimeString())
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePrescribed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDiagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientDiagnosis.PatientDiagnosisId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PatientTreatmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
