﻿@model A1Patients.Models.PatientTreatment
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Details Treatments for " +
        Context.Session.GetString("PatientDiagnosis") + ", Patient: " +
        Context.Session.GetString("patientFullName");
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>PatientTreatment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePrescribed)
        </dt>
        <dd class="col-sm-10">
            <b>@Convert.ToString(string.Format("{0:dd MMMM yyyy hh:mm}", Model.DatePrescribed))</b>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDiagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientDiagnosis.PatientDiagnosisId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientTreatmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
