﻿@model IEnumerable<A1Patients.Models.PatientTreatment>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Treatments for " +
        Context.Session.GetString("PatientDiagnosis") + ", Patient: " +
        Context.Session.GetString("patientFullName");
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePrescribed).
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientDiagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Convert.ToString(string.Format("{0:dd MMMM yyyy hh:mm}", item.DatePrescribed))</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @item.PatientDiagnosis.Patient.LastName, @item.PatientDiagnosis.Patient.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treatment.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientTreatmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PatientTreatmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatientTreatmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
