﻿@model IEnumerable<A1Patients.Models.MedicationType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="FSMedications" asp-action="Index" asp-route-id="@item.MedicationTypeId">@item.Name</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
